body
{
	background-image: url("images/back.png") !important;
	background-size: 100%;
	background-repeat:no-repeat;

	text-align: center;
	font-family: 'Sansita', sans-serif;
	background-attachment: fixed ;
	background-size: cover ;
	color: white !important;
	text-shadow: 2px 2px 5px #000;
	box-shadow: 2px 2px 10px #000;
}
.entrance
{
	margin-top: 25%;
}

.titulo
{
	font-size: 60px !important;
}
.subtitulo
{
	margin-top: 7%;
}

.aboutme
{
	text-align: left !important;
	margin-top: 40% !important;
}

.icone
{
	margin-left: -20%;
	margin-right: 8%;
}

/*MORPH*/
.morph {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
.morph:hover {
  border-radius: 50%;
  -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
       -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.pic {
  border: 10px solid #fff;  
  float: left;
  height: 300px;
  width: 300px;
  margin: 20px;
  overflow: hidden;
  
  -webkit-box-shadow: 5px 5px 5px #111;
          box-shadow: 5px 5px 5px #111;  
}

.2ndrow
{
	top:200px;
}
